.loginOptionsRow {
  position: fixed;
  width: 229px;
  height: 139px;
  left: 606px;
  top: 561px;
}

.loginYoutube {
  position: absolute;
  width: 59px;
  height: 59px;

  transition: all .2s ease-in;

  left: 0px;
  top: 0px;
}

.loginYoutube:hover {
  color: hsl(0, 100%, 50%);
}

.loginGoogle {
  position: absolute;
  width: 59px;
  height: 59px;

  left: 37.12%;
  right: 37.12%;
  top: 57.55%;
  bottom: 0%;
}

.loginTwitter {
  position: absolute;
  width: 59px;
  height: 59px;

  transition: all .2s ease-in;

  left: 37.12%;
  right: 37.12%;
  top: 0%;
  bottom: 57.55%;
}

.loginTwitter:hover {
  color: #1da1f2;
}

.loginTwitch {
  position: absolute;
  width: 59px;
  height: 59px;

  transition: all .2s ease-in;

  left: 74.24%;
  right: 0%;
  top: 0%;
  bottom: 57.55%;
}

.loginTwitch:hover {
  color: #4b367c;
}

.loginChoicePrompt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #000000;

  position: absolute;
  left: -3.93%;
  right: -3.49%;
  top: -34.5%;
  bottom: 130%;
}

a {
  text-decoration: none;
  color: black;
}